*{
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 285;
    margin-top: 45px;
    margin-bottom: 15px;
    color: #4A4A4A;
}
.header b{
    font-weight: 800;
}
.slide-text{
    text-align: center;
    font-style: italic;
    font-family:'Roboto Flex', sans-serif; 
    font-size:20px ;
    font-weight: 300;
    margin-bottom: 35px;
    color: #4A4A4A;
}
.carousel-inner img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.person{
    display: flex;
    margin-top:15px;
    margin-left: 40%;
    padding-bottom: 50px;
}
.person-info span{
    font-size: 21px;
    font-family:'Roboto Flex', sans-serif;
    font-weight: 900;
    color: #4A4A4A;
}
.person-info p{
    color: rgb(145, 142, 142);
    font-size: 16.3px;
    font-family:'Roboto Flex', sans-serif;
}
.header-second{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 285;
    color: #4A4A4A;
    margin-top: 42px;
}
.header-second-part{
    font-weight: 800;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto Flex', sans-serif;
    color: #4A4A4A;
    margin-top: -54.5px;
    margin-bottom: 35px;
}
.partners-summary-text{
    font-family: 'Roboto Flex', sans-serif;
    color: #4A4A4A;
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
   
}
.partners{
    img{
       position: relative;
       top:50%;
       left:50%;
       transform: translate(-50%,-50%);
    }
}
.partners-logo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.partners-logo img{
    align-content: center;
    align-items: center;
    max-width:120px;
    max-height:60px;
    margin-top: 40px;
}
.carousel-item {
    transition: transform 1s ease-in-out;
  }
  .carousel-controls {
    color:black;
  }
  .carousel-indicators li{
    background-color: rgb(145, 143, 143);
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin-left: 13px;
    margin-top: 60px;
  }
